<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">Bitcoin</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
  {
  "symbols": [
    [
      "Bitcoin",
      "BINANCE:BTCUSDT|1D"
    ],
    [
      "Etherum",
      "BINANCE:ETHUSDT|1D"
    ],
    [
      "Matic networks",
      "BINANCE:MATICUSDT|1D"
    ],
    [
      "Solona",
      "BINANCE:SOLUSDT|1D"
    ],
    [
      "Binance Coin",
      "BINANCE:BNBUSDT|1D"
    ],
    [
      "Dot",
      "BINANCE:DOTUSDT|1D"
    ],
    [
      "XRP",
      "BINANCE:XRPUSDT|1D"
    ],
    [
      "AVA",
      "BINANCE:AVAXUSDT|1D"
    ],
    [
      "DOGE",
      "BINANCE:DOGEPERP|1D"
    ],
    [
      "SHIB",
      "BINANCE:SHIBUSDT|1D"
    ],
    [
      "Gala",
      "BINANCE:GALAUSDT|1D"
    ]
  ],
  "chartOnly": false,
  "width": "100%",
  "height": "100%",
  "locale": "in",
  "colorTheme": "light",
  "autosize": true,
  "showVolume": true,
  "showMA": false,
  "hideDateRanges": false,
  "hideMarketStatus": false,
  "hideSymbolLogo": false,
  "scalePosition": "no",
  "scaleMode": "Logarithmic",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "fontSize": "20",
  "noTimeScale": false,
  "valuesTracking": "1",
  "changeMode": "price-and-percent",
  "chartType": "area",
  "backgroundColor": "rgba(255, 255, 255, 1)",
  "lineColor": "#2962ff",
  "topColor": "rgba(41, 98, 255, 0.3)",
  "bottomColor": "rgba(41, 98, 255, 0)",
  "lineWidth": 3
}
  </script>
</div>
<!-- TradingView Widget END -->